//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

#stash-items {
	background-color: $stash-items-bg;
}

.stash-item-info {
	background-color: $primary-darker;
}

.simplebar-content {
	height: 100%;
}

.tile {
	background-color: #222837;
}

.img-thumb {
	background-color: #222837 !important;
}

// .col-fixed {
// 	-ms-flex: 0 0 128px;
// 	flex: 0 0 128px;
// }
// @include media-breakpoint-up(xl) {
// 	.col-fixed {
// 		-ms-flex: 64px 0 64px;
// 		flex: 64px 0 64px;
// 	}
// }
