//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.stash-item {
	position: relative;
	height: 64px;
	width: 64px;
}

#stash-items {
	background-color: $stash-items-bg;
}

.stash-item-info {
	background-color: $primary-darker;
}

.darker {
	background-color: $primary-darker;
}

.simplebar-content {
	height: 100%;
}

.tile {
	background-color: #222837;
}

.img-thumb {
	background-color: #222837 !important;
	border: none;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 5px;
	vertical-align: middle;
	border-top: 6px solid;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	transition: transform 0.2s ease-in-out;
}
button[aria-expanded="false"] > .caret {
	transform: rotate(-90deg);
}
// .col-fixed {
// 	-ms-flex: 0 0 128px;
// 	flex: 0 0 128px;
// }
// @include media-breakpoint-up(xl) {
// 	.col-fixed {
// 		-ms-flex: 64px 0 64px;
// 		flex: 64px 0 64px;
// 	}
// }
