//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
$primary: #335686;
$primary-darker: #1c2231; //#11141d
$primary-dark: #222731;
$stash-items-bg: $primary-darker !default;
